{
   "tabWidth": 3,
   "printWidth": 120,
   "semi": false,
   "singleQuote": true,
   "arrowParens": "avoid",
   "trailingComma": "es5",
   "importOrderParserPlugins": ["typescript", "decorators-legacy"],
   "plugins": ["./node_modules/@trivago/prettier-plugin-sort-imports"],
   "importOrderSeparation": true,
   "importOrderSortSpecifiers": true,
   "importOrder": [
      "reflect-metadata",

      "<THIRD_PARTY_MODULES>",

      "^dotenv/config$",

      "(.*)setup(.*)",
      "^./container$",

      "^@votemate(.*)",

      "^prisma$",

      "^common(.*)",
      "^services(.*)",
      "^middlewares(.*)",

      "(.*)api",

      "(.*)repositories$",
      "(.*)mappers$",

      "(.*)entities$",

      "(.*)commands$",
      "(.*)queries$",

      "(.*)symbols$",

      "^utils$",
      "(.*)/utils$",
      "^@utils$",

      "^[./]"
   ]
}
